body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}
header{
    background-color: black;
    color:white;
    text-align: center;
}
#products{
    display:grid;
    grid-template-columns: auto auto auto;

}
#products> div{
    background-color:bisque;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
}
#searchBar{
    margin-left:10px;
}